/*intro page*/
@font-face{
    font-family: Futura;
    src: url(fonts/futura\ medium\ bt.ttf)
}

html{
    font-family: "Futura";
}

body{
    min-height: 100vh;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title{
    position: absolute;
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

.bgpic{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

.introduction{
    position: relative;
    font-size: medium;
    color: white;
    padding: 100px;

}

.section{
    position: relative;
    padding: 100px;
    background: gainsboro;
}


.loginbutton{
    background-color: rgb(141, 209, 249);
    color: white;
    border-radius: 8px;
    height: 50px;
    width: 200px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loginbutton:hover{
    background-color: rgb(102, 146, 212);
    transform:translateY(-2px);
}
